<meta http-equiv="Content-Security-Policy" content="font-src 'self' data:; img-src 'self' data:; default-src 'self' http://121.0.0:3000/">
<mat-list role="list">
  <div *ngFor="let vol of volsprof">
  <mat-list-item role="listitem" >l'id du vol est : {{vol.code}}</mat-list-item>
    <mat-list-item role="listitem" > son aeroport de départ est  : {{vol.departure}}</mat-list-item>
    <mat-list-item role="listitem" > son aéroport d'arrivé est : {{vol.arrival}}</mat-list-item>
    <mat-list-item role="listitem" >son prix est : {{vol.base_price}}</mat-list-item>

  </div>
</mat-list>

<h3> </h3>
<div class="example-button-row">
  <button mat-button color="primary">Reserver</button>
</div>
