<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservations</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"  integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<h1 th:text="Reservations"></h1>
<br/>

<table class="table table-bordered table-dark">
    <thead>
    <tr>
        <th>Numéro de réservation</th>
        <th>Numéro d'utilisateur</th>
        <th>Numéro de vol</th>
    </tr>
    </thead>
    <tbody th:each="reservation:${reservationList}">
    <tr>
        <th th:text="${reservation.reservationID}"></th>
        <th th:text="${reservation.userID}"></th>
        <th th:text="${reservation.volID}"></th>
    </tr>
    </tbody>
</table>

</body>
</html>