<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Airports</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"  integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<h1 th:text="Vols"></h1>
<br/>

<table class="table table-bordered table-dark">
    <thead>
    <tr>
        <th>Id</th>
        <th>Airport arrivée</th>
        <th>Airport destination</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody th:each="vol:${volList}">
    <tr>
        <th th:text="${vol.ID}"></th>
        <th th:text="${vol.airportArrID}"></th>
        <th th:text="${vol.airportDepID}"></th>
        <th th:text="${vol.price}"></th>
    </tr>
    </tbody>
</table>

</body>
</html>